@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #1A1A29; 
}

  
  .MyGradient {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }